/*
 * Styles that are common across entire project
 */

*, 
*:before, 
*:after {
  @include box-sizing($box-model);
}

body {
  font: $font-size-regular $font-family-text;
  background-color: $primary-color;
}

a {
  text-decoration: none;
}
